.card, .img{
    width:  200px;
    height: 350px;
    margin-top: 50px;
}

.img2{
    width: 300px;
    height: 300px;
}

.startbtn{
    font-size: 40px;
}

.parent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.history{
    margin-top: 200px;
}

.resultsentence{
    font-size: 30px;
}
.playagain{
    height: 70px;
    width: 70px;
    font-size: 20px;
}